@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://digitalbuilding.azurewebsites.net/assets/moodle/main-moodle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  font-family: 'Exo 2', sans-serif;
  
}

main{
  background-color: #EDEDED;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  max-width: 900px;
  height: 450px;
  margin-bottom: 100px;

  & section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
  }
}

.card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;

  & label{
    width: 90%;
  }

  & input[type="text"]{
    width: 100%;
    height: 40px;
    border: 0.5px solid #0000007a;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  & input[type="password"]{
    width: 100%;
    height: 40px;
    border: 0.5px solid #0000007a;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
}