@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  background-image: linear-gradient(to right, #161A24, #1F2A44);
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

section {
  background: #fff;

  /* margin: 20px auto; */
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  border-radius: 8px;

  visibility: hidden;
  opacity: 0;

  transition: 2s ease all;
}

.container {
  width: 80%;
  /* max-width: 600px; */
  max-width: 1000px;

  padding: 20px;
}

h1, h2 {
  color: #333;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input::-webkit-inner-spin-button {
  appearance: none
}

.container-bttns {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;

  margin-top: 10px;
}

button {
  background-color: #218838;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.expense {
  background-color: #ce2d05;
}

.summary {
  margin-bottom: 20px;
}

.entries ul {
  list-style: none;
  padding: 0;
}

.entries li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.areaResults {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 80%;
  max-width: 1000px;
  height: 50%;
  padding: 20px;
}

.list-card {
  width: 40%;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  
  width: 100%;
  padding: 5px 10px;
  height: 100px;

  /* border-radius: 10px; */
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-top: 1px solid #ddd;

  cursor: pointer;
}

.card p {
  margin: 0;
}

b.tag {
  padding: 2px 4px;
  width: fit-content;
  border-radius: 5px;
  color: white;
}

b.receita {
  background-color: #218837;
}

b.despesa {
  background-color: #ce2d05;
}

.info-card {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.charts {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: 50%;
  height: 95%;
  /* background-color: #ddd; */
}

.init-window {
  display: flex;
  align-items: center;
  justify-items: center;

  width: 100vw;
  height: 100vh;

  background-color: white;

  z-index: -1;

  position: absolute;
  top: 0;

  transition: 2.5s ease all;
}